
# PocketLang ignore list

# Docs branch cloned into the docs sub directory
docs/

build/
bin/
test/bin/
[Rr]elease/
[Dd]ebug/
*__pycache__/
.vs/
.vscode/
x64/

*.dblite
*.idb
*.pdb
*.exp
*.sln
*.vcxproj
*.vcxproj.filters
*.vcxproj.user
*.obj.enc

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
