/**
 * The source is modified by ThakeeNathees (github.com/ThakeeNathees)
 * to match the theme of the project.
*/

code {
  padding: 0 3px;
  background:#1b1b1b;
}

pre code.hljs{
  display:block;
  overflow-x:auto;
  padding:1em
}

code.hljs{
  padding:3px 5px
}

.hljs{
  color:#a9b7c6;
  background:#edf2f7;
  border-radius: 3px;
}

.hljs-doctag,.hljs-keyword,.hljs-meta .hljs-keyword,.hljs-template-tag,.hljs-template-variable,.hljs-type,.hljs-variable.language_{
  color: #ca7b3a;
  font-weight: bold;
}
.hljs-title,.hljs-title.class_,.hljs-title.class_.inherited__,.hljs-title.function_{
  color: #cc99cc;
}
.hljs-attr,.hljs-attribute,.hljs-literal,.hljs-meta,.hljs-number,.hljs-operator,.hljs-selector-attr,.hljs-selector-class,.hljs-selector-id,.hljs-variable{
  color:#6897BB
}
.hljs-meta .hljs-string,.hljs-regexp,.hljs-string{
  color:#6A873F
}
.hljs-built_in,.hljs-symbol{
  color:#e36209
}
.hljs-code,.hljs-comment,.hljs-formula{
  color:#6a737d
}
.hljs-name,.hljs-quote,.hljs-selector-pseudo,.hljs-selector-tag{
  color:#6A873F
}
.hljs-subst{
  color:#24292e
}
.hljs-section{
  color:#005cc5;
  font-weight:700
}
.hljs-bullet{
  color:#735c0f
}
.hljs-emphasis{
  color:#24292e;
  font-style:italic
}
.hljs-strong{
  color:#24292e;
  font-weight:700
}
.hljs-addition{
  color:#22863a;
  background-color:#f0fff4
}
.hljs-deletion{
  color:#b31d28;
  background-color:#ffeef0
}
