/* font-family: 'Open Sans', sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600&display=swap');

/* font-family: 'Montserrat', sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

/* font-family: 'JetBrains Mono', monospace; */
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@300&display=swap');

:root {
  --color-theme: #336094;
  --color-scrollbar: #a0aec0;
  --color-anchor: #cfcfcf;
  --color-link: #0969da;
  --color-default-font: #24292f;

  --font-mono: 'JetBrains Mono', monospace;
}

/*****************************************************************************/
/* GLOBAL                                                                    */
/*****************************************************************************/

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
  color: inherit;
}

/* Scroll bar override (Not works with Firefox and IE) */
::-webkit-scrollbar { width: 10px; height: 10px; } /* width */
::-webkit-scrollbar-thumb { background: var(--color-scrollbar)  } /* Handle */

pre:first-line {
  line-height: 0;
}

code, code span,
.code, .code span {
  font-family: var(--font-mono);
}

a {
  text-decoration: none;
}

ul li {
  list-style-type: none;
}

.anchor {
  text-decoration: none;
  color: var(--color-anchor);
  transition: .3s;
}
.anchor:hover {
  color: var(--color-theme);
}

.link:not(.anchor) {
  color: var(--color-link);
}

.link:not(.anchor):hover {
  text-decoration: underline;
}

/*****************************************************************************/
/* INLINE                                                                    */
/*****************************************************************************/

.space-bottom { /* Add margin to have a space after that element. */
  margin-bottom: 30px;
}

.flex { display: flex; }
.flac { align-items: center; }
.fljc { justify-content: center; }
.flsb { justify-content: space-between; }

